
- var all_ids = [];
- var tieBreak = 1;

mixin m-revealer__trigger(id, text)
	button.m-revealer__trigger(id=id, tabindex="0", aria-expanded="false", aria-controls=id+'-content')
		span.m-revealer__triggerIcon(aria-hidden="true")
			+a-svg('hex')(class="m-revealer__triggerHex -one")
			+a-svg('hex')(class="m-revealer__triggerHex -two")
		span.m-revealer__triggerText!= text || 'No text provided'

mixin m-revealer(heading, spec)
	-
		spec = Object.assign({
			h: 2,
			open: false,
		}, spec)
		var headingText = heading.replace(/`([A-z\W]+?)`/g,'<code>$1</code>');
		var id = safe_id(heading);
	.m-revealer(data-open=spec.open)&attributes(attributes)
		if spec.h > 0
			#{`h${spec.h}`}.m-revealer__heading
				+m-revealer__trigger(id, headingText)
		else
			+m-revealer__trigger(id, headingText)

		//- summary: #{`h${spec.h}`}.m-revealer__heading(id=id)!= headingText || 'No heading provided'
		.m-revealer__slider(id=id+'-content')
			.m-revealer__content
				+m-bodyContent
					if block
						block
					else
						p No content provided

-
	function safe_id(string){
		var safe_string = string.replace(/`/g,'').replace(/[\W]/g,'-').toLowerCase();
		var unique_string = ensure_unique(safe_string);
		return unique_string;
	}

	function ensure_unique(id){
		id = all_ids.indexOf(id) > -1 ? `${id}-${tieBreak++}` : id;
		all_ids.push(id);
		return id;
	}
